<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiceDiceBaby.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>299D69F02A770A6500C65313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>299D6A002A770A6800C65313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>299D6A0A2A770A6800C65313</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
